*{
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.Square{
  width: 40px;
  height: 40px;
  border: 1px solid black;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #fff;
}

.Board{
  display: flex;
  flex-wrap: wrap;
  width: 120px;
  height: 120px;
}